---
http_interactions:
- request:
    method: post
    uri: https://gatewaybeta.fedex.com/xml/
    body:
      encoding: UTF-8
      string: |-
        <TrackRequest xmlns="http://fedex.com/ws/track/v6">
          <WebAuthenticationDetail>
            <UserCredential>
              <Key>xxx</Key>
              <Password>xxx</Password>
            </UserCredential>
          </WebAuthenticationDetail>
          <ClientDetail>
            <AccountNumber>xxx</AccountNumber>
            <MeterNumber>xxx</MeterNumber>
            <Localization>
              <LanguageCode>en</LanguageCode>
              <LocaleCode>us</LocaleCode>
            </Localization>
          </ClientDetail>
          <Version>
            <ServiceId>trck</ServiceId>
            <Major>6</Major>
            <Intermediate>0</Intermediate>
            <Minor>0</Minor>
          </Version>
          <PackageIdentifier>
            <Value>987654321098</Value>
            <Type>TRACKING_NUMBER_OR_DOORTAG</Type>
          </PackageIdentifier>
          <IncludeDetailedScans>true</IncludeDetailedScans>
        </TrackRequest>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Csr-Log-Transaction-Id:
      - f0d1ff96-c714-42fc-b8b4-e00bf3840387
      X-Csr-Elapsed-Millis:
      - '530'
      Responsesslprotocol:
      - TLSv1.2
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <TrackReply xmlns="http://fedex.com/ws/track/v6" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/">
          <HighestSeverity>SUCCESS</HighestSeverity>
          <Notifications>
              <Severity>SUCCESS</Severity>
              <Source>trck</Source>
              <Code>0</Code>
              <Message>Request was successfully processed.</Message>
              <LocalizedMessage>Request was successfully processed.</LocalizedMessage>
          </Notifications>
          <Version>
              <ServiceId>trck</ServiceId>
              <Major>6</Major>
              <Intermediate>0</Intermediate>
              <Minor>0</Minor>
          </Version>
          <DuplicateWaybill>false</DuplicateWaybill>
          <MoreData>false</MoreData>
          <TrackDetails>
              <Notification>
                  <Severity>SUCCESS</Severity>
                  <Source>trck</Source>
                  <Code>0</Code>
                  <Message>Request was successfully processed.</Message>
                  <LocalizedMessage>Request was successfully processed.</LocalizedMessage>
              </Notification>
              <TrackingNumber>123456789012</TrackingNumber>
              <TrackingNumberUniqueIdentifier>12017~123456789012~FDEG</TrackingNumberUniqueIdentifier>
              <StatusCode>DL</StatusCode>
              <StatusDescription>Delivered</StatusDescription>
              <CarrierCode>FDXG</CarrierCode>
              <OtherIdentifiers>
                  <Value>123456789012</Value>
                  <Type>STANDARD_MPS</Type>
              </OtherIdentifiers>
              <ServiceInfo>FedEx Ground</ServiceInfo>
              <ServiceType>FEDEX_GROUND</ServiceType>
              <PackageWeight>
                  <Units>LB</Units>
                  <Value>25.0</Value>
              </PackageWeight>
              <PackageDimensions>
                  <Length>28</Length>
                  <Width>18</Width>
                  <Height>8</Height>
                  <Units>IN</Units>
              </PackageDimensions>
              <ShipmentWeight>
                  <Units>LB</Units>
                  <Value>50.0</Value>
              </ShipmentWeight>
              <Packaging>Package</Packaging>
              <PackagingType>YOUR_PACKAGING</PackagingType>
              <PackageSequenceNumber>1</PackageSequenceNumber>
              <PackageCount>2</PackageCount>
              <ShipperAddress>
                  <City>Los Angeles</City>
                  <StateOrProvinceCode>CA</StateOrProvinceCode>
                  <CountryCode>US</CountryCode>
                  <Residential>false</Residential>
              </ShipperAddress>
              <OriginLocationAddress>
                  <City>SANTA FE SPRINGS</City>
                  <StateOrProvinceCode>CA</StateOrProvinceCode>
                  <CountryCode>US</CountryCode>
                  <Residential>false</Residential>
              </OriginLocationAddress>
              <ShipTimestamp>2017-04-18T00:00:00</ShipTimestamp>
              <DestinationAddress>
                  <City>BETHLEHEM</City>
                  <StateOrProvinceCode>PA</StateOrProvinceCode>
                  <CountryCode>US</CountryCode>
                  <Residential>false</Residential>
              </DestinationAddress>
              <ActualDeliveryTimestamp>2017-04-24T09:32:07-04:00</ActualDeliveryTimestamp>
              <ActualDeliveryAddress>
                  <City>Bethlehem</City>
                  <StateOrProvinceCode>PA</StateOrProvinceCode>
                  <CountryCode>US</CountryCode>
                  <Residential>false</Residential>
              </ActualDeliveryAddress>
              <DeliverySignatureName>BCOPE</DeliverySignatureName>
              <SignatureProofOfDeliveryAvailable>true</SignatureProofOfDeliveryAvailable>
              <NotificationEventsAvailable>ON_DELIVERY</NotificationEventsAvailable>
              <RedirectToHoldEligibility>INELIGIBLE</RedirectToHoldEligibility>
              <Events>
                  <Timestamp>2017-04-24T09:32:07-04:00</Timestamp>
                  <EventType>DL</EventType>
                  <EventDescription>Delivered</EventDescription>
                  <Address>
                      <City>Bethlehem</City>
                      <StateOrProvinceCode>PA</StateOrProvinceCode>
                      <PostalCode>18020</PostalCode>
                      <CountryCode>US</CountryCode>
                      <Residential>false</Residential>
                  </Address>
                  <ArrivalLocation>DELIVERY_LOCATION</ArrivalLocation>
              </Events>
              <Events>
                  <Timestamp>2017-04-22T05:47:00-04:00</Timestamp>
                  <EventType>OD</EventType>
                  <EventDescription>On FedEx vehicle for delivery</EventDescription>
                  <Address>
                      <City>BETHLEHEM</City>
                      <StateOrProvinceCode>PA</StateOrProvinceCode>
                      <PostalCode>18020</PostalCode>
                      <Coun[...]
